*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto
}

body {
  color: black;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background: url(4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body::before {
  width: 100%;
  height: 100%;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: -moz-linear-gradient(top left, rgba(208, 189, 159, 0.75), rgba(208, 189, 159, 0.65));
  background-image: -ms-linear-gradient(top left, rgba(208, 189, 159, 0.75), rgba(208, 189, 159, 0.65));
  background-image: -webkit-linear-gradient(top left, rgba(208, 189, 159, 0.75), rgba(208, 189, 159, 0.65));
  background-image: -o-linear-gradient(top left, rgba(208, 189, 159, 0.75), rgba(208, 189, 159, 0.65));
  background-image: linear-gradient(to bottom right, rgba(208, 189, 159, 0.75), rgba(208, 189, 159, 0.65));
  background-size: auto;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #D2D4D3;
}

.izrada {
  text-align: center;
  font-size: 16px;
  bottom: 0;
  text-shadow: 2px 2px 8px #D2D4D3;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  padding: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  body{display: block}
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--pamtilica {
  background-image: url(pamtilica.jpg);
}

.card__image--slagalica{
  background-image: url(slagalice.jpg);
}

.card__image--przenje{
  background-image: url(przenje.jpg);
}



.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}