body {
    background: #D0BD9F!important;
    font-family: 'Merriweather', serif;
}

#content {
    max-width: 1000px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
    padding-top: 10px
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    /* Black w/ opacity */
}

.kartice {
    margin: auto;
}


/* Modal Content/Box */

.modal-content {
    background-color: #D0BD9F;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* Could be more or less, depending on screen size */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#naslov {
    text-align: center;
    font-size: 1.8rem;
}

.opis {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.opis,
.centar {
    text-align: center;
    font-size: 20px;
}


/* The Close Button */

.grid {
    display: flex;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    text-align: center;
    font-size: 20px;
}

.ikone {
    max-height: 400px;
    max-width: 100%;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border-radius: 5px;
}

.ikone2 {
    max-height: 550px;
    max-width: 100%;
    height: auto;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.ikone:hover {
    opacity: 0.5;
    cursor: pointer
}

.centar {
    text-align: center
}

.zastavice {
    padding: 10px;
}

.fas {
    color: #A39D82;
    text-shadow: 0 0 1.5px black;
}

#broj-puzzla {
    color: #008186;
    text-shadow: 0 0 1px black;
}

.kom_izbornik {
    text-align: left;
    padding-left: 2%;
    display: inline;
}

@media only screen and (max-width: 1780px) {
    .kom_izbornik {
        text-align: left;
    }
}

@media only screen and (max-width: 850px) {
    .kom_izbornik {
        font-size: 14px
    }
    select {
        font-size: 14px!important
    }
    .ikone2 {
        max-height: 200px;
        display: block;
margin: auto;
    }
}

@media only screen and (max-width: 450px) {
    .kom_izbornik {
        font-size: 12px
    }
    select {
        font-size: 12px!important
    }
}

#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000000000000;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.26%; }
.span_1_of_3 { width: 32.53%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}